on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [
            8.1
            8.2
        ]
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.22.0
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          extensions: zip
          tools: composer

      - name: Determine composer cache directory
        id: composer-cache
        run: echo "::set-output name=directory::$(composer config cache-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v3.3.1
        with:
          path: ${{ steps.composer-cache.outputs.directory }}
          key: ${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ matrix.php }}-composer-

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction

          composer dump-autoload -o

      - name: Run tests
        run: |
          mkdir -p build/logs
          php vendor/bin/phpunit -c phpunit.xml --coverage-clover=build/logs/clover.xml

      - name: Run phpstan
        continue-on-error: true
        if: ${{ matrix.php == '8.2' }}
        run: |
          php vendor/bin/phpstan analyse

      - name: Upload coverage results to Coveralls
        env:
            COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            composer global require php-coveralls/php-coveralls
            php-coveralls --coverage_clover=build/logs/clover.xml -v

      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: build/logs/clover.xml
      
      - name: Archive logs artifacts
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: logs_composer-${{ matrix.composer }}_php-${{ matrix.php }}
          path: |
            build/logs
